.navbar-brand {
    text-align: center;
}
.container-fluid {
    text-align: center!important;
}  
.nav-link {
    text-align: center!important;
    margin: 0 auto!important;
}

.nav__link {
    color: #FFF!important;
}
@media (min-width: 1000px) {
    .producto__contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
    }
}

.producto {
    box-shadow: 3px 3px 1px 2px rgba(177, 177, 177, 0.2);
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}
.producto__img {
    display: flex;
    align-items: center;

}

.dark-mode {
    background-color: rgb(41, 41, 41);
    height: 1000px;
}
.text-dark-mode {
    color: rgb(219, 219, 219);
}
.contenedor {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}
.boton-div {
    text-align: center;
}
.btn-dark {
    display: block;
}

.map-dark-mode {
    filter: invert(100%);
}
.foro__span {
    font-weight: bold;
}
.footer {
    display: block;
    background-color: rgb(31, 31, 31);
    color: #FFF;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    font-size: 18px;
}
.footer a {
    padding: 10px 0;
    transition: all .3s ease-in-out;
}
@media (min-width: 768px) {
  .footer a {
    padding: 5px 10px;
    border-radius: 5px;
  }  
}
.footer a:hover {
    background-color: #0DCAF0;
    color: rgb(0, 0, 0);
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
  nav {
    display: flex;
    gap: 20px;
  }
}
.about_us_conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about_us_conteiner img {
    width: 100%;
}

.about_us {
    line-height: 30px;
    width: 600px;
}



@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}